@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@400;700&display=swap');


*{
    overflow: hidden;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    background: hsl(212, 45%, 89%);
  font-family:  'Outfit', sans-serif;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  
}
.container{
    padding: 20px;
    width: 300px;
    height: auto;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    margin: 0;

}
img{
    border-radius: 10px;
    margin: 0 0 20px;
    max-width: 100%;
}
h2{
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 0 0 20px;
}
p{
    text-align: center;
    margin:0 0 20px;
    color: hsl(220, 15%, 55%);
}

